{% load staticfiles %}
{% load bootstrap3 %}
<html>
    <head>
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/tareas.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
        {% block css %}{% endblock %}
        {% block extrahead %}{% endblock %}
        <title>{% block titulo %}{% endblock %}</title>
    </head>
    <body>
    {% bootstrap_messages %}
    <div class="page-header">


        {% block crear_tarea%}
        {% if request.user.is_authenticated %}
            <div class="crear_tarea pull-right"><a class="btn btn-default" href="/crear_tarea">Crear tareas</a></div>
        {% endif %}
        {% endblock %}
            <h3>Topolino - Sistema de gestión de tareas</h3>


	 {% block detalle_tarea %}{% endblock %}
        {% block header %}
          <div class="tarea_titulo">{{tarea.titulo}}</div>
        {% endblock %}
        {% if request.user.is_authenticated %}
            <div class="cerrar_sesion"><a href="/accounts/logout/">Cerrar Sesion</a></div>
        {% endif %}

    </div>

       <div class="row">
        <div class="{% block content-size %}col-md-10 col-md-offset-1
        {% endblock content-size %}">

	 {% block content %}
     {% endblock %}
    </div>

</div>

    </body>
</html>
