	{% extends 'tareas/forms.html' %}
	{% load bootstrap3 staticfiles markdown_deux_tags %}

	{% block extrahead %}{{ form.media}} 	{% endblock %} 
    {% block css %} 
    <link rel="stylesheet" href="{% static 'css/comentarios.css' %}">   
    {% endblock %}
    {% block detalle_tarea %}
	<div class="titulo_tareas"><a href="/tareas">TAREAS</a></div>
    {% load poll_extras %}
    {% endblock %}
	

	 {% block content %}

    <p>{% if request.user.is_staff %}
			<form method="POST" class="post-form">{% csrf_token %}
	        {% bootstrap_form form_estado %}
  			{% buttons %}
   			 <button name="submit_estado" type="submit" class="btn btn-primary">
      		 	MODIFICAR
      		 </button>	
  			{% endbuttons %}
	        
	        </form>
	{% endif %}
	</p>
		 {{tarea.usuario}} {{tarea.fecha_creacion}}<br>	
		
		{{tarea.descripcion|markdown}} <br>

		{% block arriba %}
<div class="container">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
	<div class="row">
	<!-- Contenedor Principal -->
    <div class="comments-container">
    	<h1>Comentarios </h1>
	
		
		<ul id="comments-list" class="comments-list">
		{% for c in comentarios %}
            <li>
				<div class="comment-main-level">
					
					<!-- Contenedor del Comentario -->
					<div class="comment-box">
						<div class="comment-head">
							<h6 class="comment-name by-author"><a><p>{{c.usuario}}</p></a></h6>
							<span><p>{{c.fecha}}</p></span>
							<i class="fa fa-reply"></i>
							<i class="fa fa-heart"></i>
						</div>
						<div class="comment-content"><p>{{c.texto|template_filter}}</p>
						</div>
					</div>
				</div>

            </li>
{% endfor %}
        </ul>
    </div>
	</div>
</div>

		
		
		{% endblock %}


		<div>


	   
      		 	{% block submit %}Comentar
      		 	{% endblock %} 


{{block.super}}
	</div>
	{% endblock content %}
  

