	{% extends 'tareas/base.html' %}
	{% load bootstrap3 %}
	 {% block content %}

		{% block arriba %}

		
		{% for c in comentarios %}



		<div>
			<p>{{c.usuario}}</p>
			<p>{{c.fecha}}</p>
			<p>{{c.texto}}</p>
		</div>
		{% endfor %}

		{% endblock %}


		<div>


	        <form method="POST" class="post-form">{% csrf_token %}
	        {% bootstrap_form form %}
  			{% buttons %}
   			 <button type="submit" class="btn btn-primary">
      		 	{% block submit %}Comentar
      		 	{% endblock %} 
      		 </button>	
  			{% endbuttons %}
	        
	        </form>

	</div>
	{% endblock content %}

