
{% extends 'tareas/forms.html' %}
{% load bootstrap3 staticfiles markdown_deux_tags poll_extras %}

{% block content-size %}col-md-8 col-md-offset-2{% endblock content-size %}

{% block extrahead %}{{ form.media}} 	{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/comentarios.css' %}">
{% endblock %}
{% block breadcrumb_links %}
    <li><a class="active">{{ tarea.titulo }}</a></li>
{% endblock %}


	 {% block content %}

        <h1>{{ tarea.titulo }} </h1>





    	 {{tarea.usuario}} {{tarea.fecha_creacion}}<br>


    {% if request.user.is_staff or tarea.usuario == request.user %}
        <a href="{% url 'editar-tarea' tarea.id %}">editar</a>
    {% endif %}

		{{tarea.descripcion|markdown}} <br>


    {% if request.user.is_staff %}

        <div class="row">
            <div class="col-md-3 col-md-offset-7">

            <form method="POST" class="post-form">{% csrf_token %}
            {% bootstrap_form form_estado %}
            {% buttons %}
             <button name="submit_estado" type="submit" class="btn btn-primary">
                MODIFICAR
             </button>
            {% endbuttons %}

            </form>

            </div>

        </div>
    {% endif %}



		{% block arriba %}
<div class="container">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

    <h3>Comentarios </h3>

	<div class="row">
	<!-- Contenedor Principal -->
    <div class="col-md-8">


		<ul id="comments-list" class="comments-list">
		{% for c in comentarios %}
            <li>
				<div class="comment-main-level">

					<!-- Contenedor del Comentario -->
					<div class="comment-box">
						<div class="comment-head">
							<h6 class="comment-name by-author"><a><p>{{c.usuario}}</p></a></h6>
							<span><p>{{c.fecha}}</p></span>
							<i class="fa fa-reply"></i>
							<i class="fa fa-heart"></i>
						</div>
						<div class="comment-content"><p>{{c.texto|markdown|template_filter}}</p>
						</div>

					</div>



            </li>
{% endfor %}
        </ul>
    </div>
	</div>
</div>



		{% endblock %}


		<div>



      		 	{% block submit %}Comentar
      		 	{% endblock %}


{{block.super}}
	</div>
	{% endblock content %}


