{% extends 'tareas/base.html' %}
{% load bootstrap3 staticfiles markdown_deux_tags %}

{% block breadcrumb_links %}
    {% if tarea %}
        <li><a href="{% url 'detalle-tarea' tarea.id %}">{{ tarea.titulo }}</a></li>
        <li><a class="active">Editar</a></li>
    {% else %}
         <li><a class="active">Crear nueva tarea</a></li>
    {% endif %}
{% endblock breadcrumb_links %}

	{% block titulo %}CREAR TAREA{% endblock %}

    {% block extrahead %}{{ form.media}} 	{% endblock %}
  {% block crear_tarea%}{% endblock %}
 {% block content %}
	<div>

		<form method="POST" class="post-form">{% csrf_token %}
		{{ form.as_p}}


		<button type="submit" class="save btn btn-default">{% block submit %}enviar{% endblock %}</button>
	     </form>


 {% endblock content %}
