{% extends 'tareas/base.html' %}

    {% block titulo %}TAREAS{% endblock %}
    {% block detalle_tarea %}<div class="titulo_tareas"><a href="/tareas">TAREAS</a></div>{% endblock %}
    {% block content %}
	<div class="container">

	
	<form method="GET" class="post-form">{{ form.as_p}}


		<button type="submit" class="save btn btn-default">{% block submit %}BUSCAR{% endblock %}</button>

   
    
		<div class="row">
			<div class="span5">
	            <table class="table table-striped table-condensed">
		
		
		    {% if tareas %}
	             	<thead>
	                  <tr>
		              	  <th><a href="?o=titulo&s={{s}}">Titulo</a>{% if o == "titulo" %}{% if s == "des" %}<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>{% else %}<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>{% endif %}{% endif %}</th>

		                  <th><a href="?o=usuario&s={{s}}">Autor</a>{% if o == "usuario" %}{% if s == "des" %}<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>{% else %}<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>{% endif %}{% endif %}</th>


		                  <th><a href="?o=fecha_creacion&s={{s}}">Fecha</a>{% if o == "fecha_creacion" %}{% if s == "des" %}<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>{% else %}<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>{% endif %}{% endif %}</th>
		                  <th><a href="?o=categoria__nombre&s={{s}}">Categoria</a>{% if o == "categoria__nombre" %}{% if s == "des" %}<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>{% else %}<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>{% endif %}{% endif %}</th>

		                  <th><a href="?o=prioridad&s={{s}}">Prioridad</a>{% if o == "prioridad" %}{% if s == "des" %}<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>{% else %}<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>{% endif %}{% endif %}</th>

	                          <th><a href="?o=estado&s={{s}}">Estado</a>{% if o == "estado" %}{% if s == "des" %}<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>{% else %}<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>{% endif %}{% endif %}</th>

	                      <th><a href="?o=asignado&s={{s}}">Asignado</a>{% if o == "asignado" %}{% if s == "des" %}<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>{% else %}<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>{% endif %}{% endif %}</th>

	                 	</tr>
	              	</thead>   
	              <tbody>
	              {% for tarea in tareas %}
	                <tr>
		                <td><b><a href="/tareas/{{tarea.id}}/">{{tarea.titulo}}</a></td>
		                <td>{{tarea.usuario}}</td>
		                <td>{{tarea.fecha_creacion}}</td>
		                <td>{{tarea.categoria}}</td>
	                	{% if tarea.prioridad >= 0 and tarea.prioridad <= 10 %}
	                		<td><span class="label label-danger">Alta</span></td>
	                	{% elif tarea.prioridad > 10 and tarea.prioridad <= 50 %}
	                    	<td><span class="label label-warning">Media</span></td>
	                    {% else %}
	                    	<td><span class="label label-success">Baja</span></td>
	                    {% endif %}
	                    <td><span class="label label-default">{{tarea.estado}}</span>
	                    </td>
	                    <td><span class="label label-default">{{tarea.asignado}}</span>
	                    </td>

	                </tr>
	              {% endfor %}  
	 	    
		    {% else %} 
			<p>NO SE ENCUENTRA LA TAREA  </p>
		    {% endif %}                            
	              </tbody>
	            </table>
	        </div>
		</div>
	</div>
{% endblock %}

